<h1>WELCOME TO RENT A ROOM</h1>								




    <h4>admin(username) = naman_wardust</br>
     password = qwerty</h4>

    <h4>host(username) = admin1028</br>
     password = qwerty</h4>

<p><%= image_tag("http://www.travelervisa.com/wp-content/uploads/2016/11/hotel.jpg", size: "600x600") %></p>
  	